<div style="margin-top: 50px;" class="container">
    <h1 style="text-align: center;">Clients Transaction Status</h1>
    <hr>
    <table style="text-align: center;" class="table table-hover table-responsive  table-striped table-bordered" >
        <thead style="text-align: center;">
            <th style="text-align: center;">Transaction Id</th>
            <th style="text-align: center;">Transaction Type</th>
            <th style="text-align: center;">Total Cost</th>
            <th style="text-align: center;"> Event Id</th>
            <th style="text-align: center;">Payment Status</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of transaction">
                    <td>{{item.tranId}}</td>
                    <td>{{item.tranType}}</td>
                    <td>{{item.totalCost}}</td>
                    <td>{{item.event.eventId}}</td>
                    <td>{{item.paymentStatus}}</td>
            </tr>
        </tbody>
    </table>
</div>