<div style="margin-top: 80px;" class="container">
    <table style="text-align: center;" class="table table-responsive" border="1">
        <thead style="text-align: center;">
            <th style="text-align: center;">Client Id</th>
            <th style="text-align: center;">Event Id</th>
            <th style="text-align: center;">Total Cost</th>
            <th style="text-align: center;"> Payment Status</th>
        </thead>
        <tbody>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tbody>
    </table>
</div>