
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <style>
        body         { padding-top:50px; }
        form, pre    { margin-bottom:50px; }
    </style>

    <script src="http://code.angularjs.org/1.2.13/angular.js"></script>
    <script src="app.js"></script>
</head>


<body style="margin-top: 80px;" ng-app="formApp" ng-controller="formController">
    <h1  style="text-align: center; font-style: flip-card;">Book an Appointment With Manager</h1>
    <br>
    <div class="container" style="width: 500px; height: 1000px;">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                   
                    <form #myForm="ngForm"  (ngSubmit)="onSendAway(myForm)">
                        <div class="form-group">
                            <label>Event Id  </label>
                            <input type="text" class="form-control" readonly name="eventId" [value]="eventDetails.eventId">
                        </div>   
                        <div class="form-group">
                                <label>Date   </label>
                                <input type="date" class="form-control" name="appointmentDate" ngModel>
                        </div>
                            <button type="submit" [disabled]="clicked" class="btn btn-danger">Book Appointment!</button>
                    </form>   
            </div>
    </div>

</body>
</html>

