<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <style>
        body,html {
                height: 100%;
                margin: 0%
                }
                .bg-img{
                        background-image: url("assets/images/background.jpeg");

                height: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                }
        </style>
</head>
<body>
        
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            </div>
           
        <div style="margin-top: 50px;">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div class="jumbotron" style="opacity: 0.9; background-color: aliceblue; height: 780px; width: 400px">

                                <div class="container">
                                        <form #myForm="ngForm" (ngSubmit)="onAdd(myForm)">
                                                        <h2 style="text-align: center">Event Details</h2>
                                                        <div class="row">
                                                        <!-- <div class="col-md-6"></div> -->
                                                        <div class="col-md-12">
                                                                <div class="form-group">
                                                                        <label for="selectEvent">Select an Event</label>
                                                                        <select (change)="onSelectEvent($event)"  class="form-control" name="eventDesc" id="eventDesc">
                                                                           <option *ngFor="let item of eventDesc" [value]="item.eventDescId" >{{item.eventName}} {{item.eventCost}}</option>  
                                                                        </select>
                                                                </div>      
                                            
                                                                <div class="form-group">
                                                                <label for="">Event Date</label>
                                                                <input type="date" class="form-control" id="eventDate" name="eventDate" ngModel>     
                                                                </div>

                                                                <div class="form-group">
                                                                        <label for="selectVenueCity">Select Venue City</label>
                                                                        <select (change)="onChangeVenueCity($event.target.value)" class="form-control" id="selectVenueCity" ngModel >
                                                                           <option *ngFor="let item of venuCity" [value]="item.venueCityId">
                                                                                   {{item.venueCityName}}
                                                                           </option>  
                                                                        </select>
                                                                </div>
                                                                <div class="form-group" *ngFor="let item of location">
                                                                        <label>
                                                                          <input id="locationId" (change)="onSelectLocation($event)" [value]="item.locationId" type="radio" name="locationId">
                                                                          <img style="width: 200px;" src="data:image/gif;base64,{{item.locationImage}}" alt=""> &nbsp; &nbsp;{{item.locationName}}&nbsp;&nbsp;&nbsp;&nbsp;{{item.locationCost}}
                                                                        </label>
                                                                </div>
                                                                <div class="form-group">
                                                                <label for="">Enter no of guest</label>
                                                                <input type="number" class="form-control" id="noOfGuests" name="noOfGuests" ngModel>         
                                                                </div>
                                                                <div class="form-group">
                                                                        <label>Select Food Type </label>
                                                                        <select (change)="onSelectFoodType($event)" class="form-control" id="selectFoodType">
                                                                                <option *ngFor="let item of food" [value]="item.foodId">
                                                                                        {{item.foodType}}  {{item.foodSubMenu}} {{item.cost}}
                                                                                </option>  
                                                                        </select>
                                                                </div>
                                                                <div class="form-group">
                                                                <label for="">Time period</label>
                                                                <input type="number" class="form-control" id="eventDuration" name="eventDuration" ngModel > 
                                                                </div>
                                                                <div class="form-group">
                                                                        <label for="">Decoration Budget</label>
                                                                        <input type="number" class="form-control" id="decorationBudget" name="decorationBudget" ngModel> 
                                                                </div>


                                                                <div class="form-group">
                                                                     <input id="theme" (change)="onSelectTheme($event)" [value]="true" type="radio" name="theme">  Theme
                                                                </div>
                                                                <div class="form-group">
                                                                     <input id="musicSystem" (change)="onSelectMusicSystem($event)" [value]="true" type="radio" name="musicSystem">  Music System
                                                                </div>
                                                               
                                                                <div class="form-group">
                                                                <button type="submit" class="btn btn-success">Submit</button>    
                                                                </div>
                                                        </div>
                                                        </div>
                                                </form>
                                
                        </div>
                        </div>
                        </div>
        </div>
                       
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        
                                </div>  
                         
</body>
</html>
