<div  class="jumbotron">
    <h2 style="text-align: center;">Users List</h2>
    <hr>
        <table style="align-content: center;" class="table table-hover table-stripped table-responsive">
                <thead>
                    <th>event Id</th>
                    <!-- <th> User Id</th> -->
                    <th >eventDate</th>
                    <th >noOfGuests</th>
                    <th >eventDuration</th>
                    <th >decorationBudget</th>
                    <th> totalCost</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor="let item of events">
                        <td>{{item.eventId}}</td>  
                        <!-- <td>{{item.user.userId}}</td> -->
                        <td>{{item.eventDate}}</td>   
                        <td>{{item.noOfGuests}}</td>
                        <td>{{item.eventDuration}}</td>
                        <td>{{item.decorationBudget}}</td>
                        <td>{{item.totalCost}}</td>

                    </tr>         
                </tbody>
              </table>
</div>

