<div  class="container">
    <h1 style="text-align: center;">List of all Events</h1>
    <br>
    <table style="text-align: center;" class="table table-hover table-responsive  table-striped table-bordered" >
                <thead>
                    <th style="text-align: center;">event Id</th>
                    <!-- <th> User Id</th> -->
                    <th style="text-align: center;" >eventDate</th>
                    <th style="text-align: center;" >noOfGuests</th>
                    <th style="text-align: center;">eventDuration</th>
                    <th style="text-align: center;">decorationBudget</th>
                    <th style="text-align: center;"> totalCost</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor="let item of events">
                        <td>{{item.eventId}}</td>  
                        <!-- <td>{{item.user.userId}}</td> -->
                        <td>{{item.eventDate}}</td>   
                        <td>{{item.noOfGuests}}</td>
                        <td>{{item.eventDuration}}</td>
                        <td>{{item.decorationBudget}}</td>
                        <td>{{item.totalCost}}</td>
                    </tr>         
                </tbody>
              </table>
</div>

