<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

<style>
 .bg-img {
  /* The image used */
  background-image: url("assets/images/background.jpeg");

  min-height: 550px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
body,html{
  height: 100%;
}
</style>
</head>
<body class="bg-img"> 
       <div class="container" style="background-color: azure; height: 300px; width: 400px;">
           <h2>Thank you for Booking Event.</h2>
           <h2>Your event has been successfully registered.</h2>
       </div>

</body>
</html>





<!-- ------------- -->


